*
  box-sizing border-box

body
  font 16px/1.5 var(--serif)
  background #fff

#site
  display flex
  flex-flow column nowrap
  min-height 100vh

a
  text-decoration none

p
  margin 0 0 1.5rem

h1,
h2,
h3,
h4,
h5,
h6
  line-height 1.25
  font-weight bold
  letter-spacing -0.02em
  margin 0
  font-family var(--sans)
  margin-bottom 1.5rem

#site-markdown, #page-stories
  h2,
  h3,
  h4,
  h5,
  h6
    margin-top 3rem

  h2
    border-top 1px solid var(--bc)
    padding-top 3rem

  h3
    font-weight 400

  h4
    font-family var(--serif)

  p
    margin 1.5em 0
    &:last-child
      margin-bottom 0

  li
    margin-bottom 0.5rem
    p
      margin 0

#site-markdown, article.story
  img
    max-width 100%
    margin 0 0 1.5rem
    display block
  img[src$='#img-small']
    float left
    margin-right 1.5rem
    max-width 9rem
    margin-bottom 0.5rem

.page-header
  margin-bottom 1.5rem

@media screen and (min-width: 768px)
  .page-header
    margin-bottom 3rem
