* {
  box-sizing: border-box;
}
body {
  font: 16px/1.5 var(--serif);
  background: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin: 0;
  font-family: var(--sans);
  margin-bottom: 1.5rem;
}

p {
  margin: 1.5em 0;
}
p:last-child {
  margin-bottom: 0;
}
